@charset "UTF-8";
/* CSS Document */
.gemkard {
  width: 264px;
  margin-top: 32px;
}
.gemtext {
  padding: 32px;
  padding-top: 32px;
  padding-top: 16px;
}
.gemkard svg {
  height: 188px;
  width: auto;
  margin-top: 16px;
}
.gembut {
  z-index: 2;
  position: absolute;
  background-color: transparent;
  border: 0;
  top: 193px;
  cursor: pointer;
}
.gembut svg {
  height: 40px;
}
.btn {
  padding: 7px 7px;
}
.gembild {
  justify-content: center;
  width: 100%;
  display: flex;
}
.gemstb {
  padding: 10px 12px;
  background-color: #000e52;
  color: white;
  border-radius: 12px;
  display: inline-block;
  margin-top: 0;
}