:root {
    --gem-green: #00FF64;
    --gem-blue: #010e52;
    --gem-turquoise: #4AFFFF;
    --gem-b3-10: #F4F6F9;
    --gem-b1-80: #4E76A9;
    --gem-b1-40: #A7BBD4;
}
.gem-ti2-header-wrapper {
    background-color: var(--gem-b3-10);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65vh;
    justify-content: flex-end;
    gap: clamp(30px, 6.75vw, 67.5px);
    overflow: hidden;
}
.lottie-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 65vh;
    overflow: hidden;
}
.lottie-wrapper svg {
width: auto !important;
    height: 100% !important;
    transform: unset !important;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
	min-height: 57vw;
}
.gem-ti2-header-text {
    color: var(--gem-blue);
    padding: 0px 16%;
    display: flex;
    flex-direction: column;
}
.gem-ti2-header-text > h1 {
    font-size: clamp(40px, 9vw, 90px);
    margin-bottom: 0;
    line-height: 1.2;
}
.gem-ti2-header-text > h2 {
    font-size: clamp(20px, 4.5vw, 45px);
    margin-bottom: 0;
    line-height: 1.2;
}
.gem-ti2-header-slider-wrapper {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-direction: row;
    flex-direction: column;
    padding: 0 clamp(1rem, 16%, 100px);
}
.gem-ti2-header-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 3px solid rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0.80);
    border-radius: 32px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}
.gem-ti2-header-slider > ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
    font-weight: 700;
    font-family: 'apercu-regular', sans-serif;
}
.gem-ti2-header-slider-user {
    padding: 1.3vh clamp(2rem, 1.3vh, 4rem);
    cursor: pointer;
}
.gem-ti2-header-slider-title {
    text-align: center;
}
.z-10 {
    z-index: 10;
}
.gem-ti2-header-slider-user.active {
    color: white;
    background-color: var(--gem-blue);
    border-radius: 32px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.40);
    transform: scale(1.1); /* Example: You can adjust the scaling */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}