:root {
    --gem-green: #00FF64;
    --gem-blue: #010e52;
    --gem-turquoise: #4AFFFF;
    --gem-b3-10: #F4F6F9;
    --gem-b1-80: #4E76A9;
    --gem-b1-40: #A7BBD4;
}
.gem-ti2-header-wrapper {
    background-color: var(--gem-b3-10);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 76vh;
    justify-content: flex-end;
    padding-bottom: 4rem;
}
.gem-ti2-header-text {
    color: var(--gem-blue);
    padding: 0px 16%;
    display: flex;
    flex-direction: column;
}
.gem-ti2-header-text h1 {
    font-size: 9vh;
    margin-bottom: 1rem;
}
.gem-ti2-header-text h2 {
    font-size: 5vh;
}
.gem-ti2-header-slider-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-direction: column;
}
.gem-ti2-header-slider {
    display: flex;
    background-color: white;
    flex-direction: row;
    border-radius: 999px;
}
.gem-ti2-header-slider-user {
    padding: 1rem 1.8rem;
}
.gem-ti2-header-slider-title {
    text-align: center;
}