:root {
    --gem-green: #00FF64;
    --gem-blue: #010e52;
    --gem-turquoise: #4AFFFF;
    --gem-b3-10: #F4F6F9;
    --gem-b1-80: #4E76A9;
    --gem-b1-40: #A7BBD4;
}
.gem-carousel-outer-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px 0px;
    background-color: var(--gem-b3-10);
}
.gem-carousel-title {
    text-align: center;
    font-size: 32px;
    line-height: 1.1;
    margin-bottom: 0px;
}
.gem-carousel-container {
    display: flex;
    overflow: hidden;
    position: relative;
    margin: 48px 0px;
    transition: transform 0.5s ease;
}
.gem-carousel-slide {
    margin-right: 3rem;
    border-radius: 3.125rem;
    background: #D1DBE7;
    display: flex;
}
.gem-carousel-slide-in {
    display: flex;
    padding: 2rem;
    align-items: center;
    gap: 3rem;
}
.gem-ti-sli-tb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}
.gem-carousel-text {
    color: #000E52;
    text-align: left;
    font-weight: 400;
    width: 50%;
}
.gem-carousel-text h4 {
    font-size: 48px;
    line-height: 1.1;
}
.gem-carousel-text p {
    font-size: 26px;
    line-height: 1.3;
}
.gem-carousel-button {
    position: absolute;
    padding: 1.5rem;
    border: none;
    cursor: pointer;
    margin-left: 0.3rem;   
    margin-right: 0.3rem;
    background-color: var(--gem-blue);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.40);
}
.gem-carousel-button.prev {
    left: 0;
}
.gem-carousel-button.next {
    right: 0;
}
.gem-carousel-button > img {
    transform: matrix(1, 0, 0, 1, 1.5, 0);
    max-width: none;
}