:root {
    --gem-green: #00FF64;
    --gem-blue: #010e52;
    --gem-turquoise: #4AFFFF;
    --gem-b3-10: #F4F6F9;
    --gem-b1-80: #4E76A9;
    --gem-b1-40: #A7BBD4;
    --gem-b3-40: #D1DBE7;
}
.gem-carousel-outer-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: clamp(1.5rem, 3rem, 4rem);
    background-color: var(--gem-b3-10);
}
.gem-carousel-title {
    text-align: center;
    font-size: clamp(1.6rem, 2.6vw, 3.5rem);
    line-height: 1.2;
    margin-bottom: 0px;
    padding: 0 clamp(0.5rem, 4vw, 2rem);
}
.gem-carousel-container {
    display: flex;
    overflow: hidden;
    position: relative;
    margin: 48px 0px;
    transition: transform 0.5s ease;
}
.gem-carousel-slide {
    margin-right: 3rem;
    border-radius: 3.125rem;
    background: var(--gem-b3-40);
    display: flex;
}
.gem-carousel-slide-in {
    display: flex;
    padding: clamp(1rem, 1.6rem, 4rem);
    align-items: center;
    gap: 3rem;
    justify-content: center;
}
.gem-ti-sli-tb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
}
.gem-carousel-text {
    color: var(--gem-blue);
    text-align: left;
    font-weight: 400;
    width: clamp(90%, 60%, 50%);
}
.gem-carousel-text h4 {
    font-size: clamp(20px, 3.2vw, 70px);
    line-height: 1.1;
}
.gem-carousel-text p {
    font-size: clamp(18px, 2.3vw, 3.5rem);
    line-height: 1.3;
}
.gem-carousel-button {
    position: absolute;
    padding: 1.5rem;
    border: none;
    cursor: pointer;
    margin-left: 1rem;   
    margin-right: 1rem;
    background-color: var(--gem-blue);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.40);
}
.gem-carousel-button.prev {
    left: 0;
}
.gem-carousel-button.next {
    right: 0;
}
.gem-carousel-button > img {
    transform: matrix(1, 0, 0, 1, 1.5, 0);
    max-width: none;
}
@media screen and (max-width: 700px) {
    .gem-carousel-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .gem-carousel-slide .gem-carousel-slide-in {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .gem-carousel-slide .gem-carousel-slide-in .gem-ti-sli-tb img {
        order: -1; /* Moves the image to the top */
    }
    .gem-ti-sli-tb {
    width: 80%;
}
}


